haters

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.github-todos

pids
results

node_modules
npm-debug.log
package-lock.json

# code coverage folder
coverage
.nyc_output

# Secrets
.env
.env.**

# IDEs and editors
.idea
.vscode

.vagrant
